body {
  background: linear-gradient(rgb(221, 221, 221), rgb(182, 182, 182));
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "cofo-sans-variable",sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  color: #434343;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  gap: 20px;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  color: #434343;
}

.navbar a:hover {
  color: rgb(38, 0, 255);
}
.nav-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-header img {
  width: 40px;
  height: 40px;
}

.nav-header h1 {
  font-size: medium;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  justify-content: flex-start;
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.usr-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.usr-panel img {
  width: 30px;
  height: auto;

}

main {
  padding-top: 80px;
  margin-top: auto;
}

.lp-banner {
  background: linear-gradient(rgba(255,0,0,0),black), url("../images/lp-banner1.jpg");
  background-position: center;
  height: 400px;
  display: flex;
  background-size: cover;
  justify-content: center;
  position: relative;
}

.lp-banner h1 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: whitesmoke;
  text-shadow: 2px, 2px, 4px rgba(0, 0, 0, 0.7);
}

footer {
  background-color: rgb(15, 15, 15);
  height: auto;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: whitesmoke;
  font-size: small;
  font-weight: 200;
}

.f-format {
  padding: 40px 225px;
}

.f-list {
  list-style: none;
  align-content: center;
  display: flex;
  gap: 40px;
  
}

.f-nav, .f-mem, .f-acc, .f-support {
  margin-right: 20px;
}

.f-nav ul, .f-mem ul, .f-acc ul, .f-support ul {
  list-style: none;
  align-content: center;
  padding: 0px;
}

.f-nav li, .f-mem li, .f-acc li, .f-support li {
  justify-content: flex-start;
  padding-bottom: 5px;
  padding-right: 0;
  margin: 0;
}

.f-nav a, .f-mem a, .f-acc a, .f-support a {
  text-decoration: none;
  font-weight: 100;
  color: rgb(158, 158, 158);
}

.f-logo {
  align-self: flex-end;
  align-items: flex-end;
  padding: 0;
}

.f-logo img {
  height: auto;
  width: 150px;
}

.authors, .sids {
  display: flex;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.authors h4 {
  font-weight: bold;
  align-content: center;
  margin: 0;
}

.authors ul {
  list-style: none;
  align-content: center;
  display: inline-flex;
  gap: 0px;
}

.authors li:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
  align-items: center;
}

.authors a {
  text-decoration: none;
  color: whitesmoke;
}