html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(rgb(221, 221, 221), rgb(182, 182, 182));
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "cofo-sans-variable",sans-serif;
  font-variation-settings: 'wght' 400, 'slnt' 0;
  color: #434343;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  
}

.navbar {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  gap: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #434343;
}

.navbar a:hover {
  color: rgb(38, 0, 255);
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-header img {
  width: 40px;
  height: 40px;
}

.nav-header h1 {
  font-size: medium;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.usr-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.usr-panel img {
  width: 36px;
  height: 36px;

}

main {
  padding: 0;
  margin: 0; 
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.lp-banner {
  display: flex;
  height: 400px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  
  position: relative;
  
}

.lp-banner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.lp-banner .content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.lp-banner .content img {
  height: 40px;
  width: 40px;
}

.main-content {
  max-width: 1200px;
  padding-top: 100px;
  padding: 20px;
  margin: 0 auto;
  left: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 2;
}

footer {
  background-color: rgb(15, 15, 15);
  height: auto;
  width: 100%;
  bottom: 0;
  color: whitesmoke;
  font-size: small;
  font-weight: 200;
  margin-top: auto;
  padding: 40px 0;
}

.f-format {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.f-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.f-nav, .f-mem, .f-acc, .f-support {
  margin-right: 20px;
}

.f-nav ul, .f-mem ul, .f-acc ul, .f-support ul {
  list-style: none;
  padding: 0px;
}

.f-nav li, .f-mem li, .f-acc li, .f-support li {
  justify-content: flex-start;
  padding-bottom: 5px;
  padding-right: 0;
  margin: 0;
}

.f-nav a, .f-mem a, .f-acc a, .f-support a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.f-logo {
  align-self: flex-end;
  align-items: flex-end;
  padding: 0;
}

.f-logo img {
  height: auto;
  width: 150px;
}

.authors, .sids {
  display: flex;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.authors h4 {
  font-weight: bold;
  align-content: center;
  margin: 0;
}

.authors ul {
  list-style: none;
  align-content: center;
  display: inline-flex;
  gap: 0px;
}

.authors li:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
  align-items: center;
}

.authors a {
  text-decoration: none;
  color: whitesmoke;
}